<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns 		= "https://www.w3.org/ns/widgets"
		xmlns:gap 	= "https://phonegap.com/ns/1.0"
		id 			= "com.emilythiel.cezoom"
		versionCode = "10"
		version 	= "1.0.0">
	
	<name>CE Zoom App</name>

	<description>Mobile application for CE Zoom.</description>

	<author href="https://cezoom.com" emial="emily.renee.thiel@gmail.com">
		Emily Thiel
	</author>
	
	<!-- Plugins -->
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	
	<!-- Icons -->
	<icon src="CEZoom-black-red-300dpi-new.png" />

	<content src="index.html" />
	
	<!-- Whitelists -->
	<access origin="*" />
	
	<preference name="permissions" value="none"/>
	
	<preference name= "fullscreen" value = "false" />
	
</widget>
